Source: python-urlobject
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders:
 Andrej Shadura <andrewsh@debian.org>
Section: python
Priority: optional
Homepage: https://github.com/zacharyvoase/urlobject
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python3-all,
 python3-setuptools (>= 0.6.24),
 python3-six,
 python3-sphinx
Standards-Version: 3.9.5
Vcs-Git: https://salsa.debian.org/debian/python-urlobject.git
Vcs-Browser: https://salsa.debian.org/debian/python-urlobject
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bullseye

Package: python3-urlobject
Architecture: all
Depends:
 python3-six,
 ${misc:Depends},
 ${python3:Depends},
 ${sphinxdoc:Depends}
Description: utility class for manipulating URLs.
 URLObject is a utility class for manipulating URLs. The latest
 incarnation of this library builds upon the ideas of its
 predecessor, but aims for a clearer API, focusing on proper
 method names over operator overrides. It's also being developed
 from the ground up in a test-driven manner, and has full
 Sphinx documentation.
 .
 This is the Python 3 version of the package.
